@font-face {
    font-family: 'LatoBold';
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: 'LatoBlack';
    src: url(../fonts/Lato-Black.ttf);
}

@font-face {
    font-family: 'LatoLight';
    src: url(../fonts/Lato-Light.ttf);
}

@font-face {
    font-family: 'LatoMedium';
    src: url(../fonts/Lato-Medium.ttf);
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Regular.ttf);
}